<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="\css\style.css">
  <title>Dinámica Mentores</title>
  <link rel="icon" href="/images/logo.png">



</head>

<body>
  <div class="title-content">

    <h1>Mentores Santander</h1>

    <img class="logo" src="/images/logo.png">
  </div>

  <div class="slot">
    <div id="slot-screen">
      <ul class="reels">
        <li class="reel"><img src="/images/AlejandroRomero.png" alt=""><h2>Alejandro Romero</h2></li>
        <li class="reel"><img src="/images/Sofia_Perez_galdi_Adrian_Aguero.jpg" alt=""><h2>Sofia Pérez Galdi</h2></li>
        <li class="reel"><img src="/images/Gonzalo_Moure_Carolina_Juarez.jpg" alt=""><h2>Gonzalo Moure</h2></li>
        <li class="reel"><img src="/images/Maria_Laura_Segura_Daiana_Paillacar.jpg" alt=""><h2>María Laura Segura</h2></li>
        <li class="reel"><img src="/images/HernanPampin.jpg" alt=""><h2>Hernán Pampin</h2></li>
        <li class="reel"><img src="/images/NataliaMiranda_IvanVenegas.jpg" alt=""><h2>Natalia Miranda</h2></li>
        <li class="reel"><img src="/images/Florencia_Romera_JeronimoVega.jpg" alt=""><h2>Florencia Romera</h2></li>
        <li class="reel"><img src="/images/avatarM1.png" alt=""><h2>Matias Gaston Garcia</h2></li>
        <li class="reel"><img src="/images/LilianaGomez_AlexMamani.jpg" alt=""><h2>Liliana Isabel Gomez</h2></li>
        <li class="reel"><img src="/images/SebastianCarballeira_AgustinaPresentado.jpg" alt=""><h2>Sebastian Carballeira</h2></li>
        <li class="reel"><img src="/images/AlanHryniewicz.jpg" alt=""><h2>Alan Hryniewicz</h2></li>
        <li class="reel"><img src="/images/AvatarW1.png" alt=""><h2>Maria Pilar Ortiz</h2></li>
        <li class="reel"><img src="/images/AvatarM2.png" alt=""><h2>Juan Ignacio Odriozola</h2></li>
        <li class="reel"><img src="/images/AgustinaBascur.jpg" alt=""><h2>Agustina Bascur</h2></li>
        <li class="reel"><img src="/images/EduardoRamos.jpeg" alt=""><h2>Eduardo Ramos</h2></li>
        <li class="reel"><img src="/images/CarolinaNatalio.jpg" alt=""><h2>Carolina Natalio</h2></li>
      </ul>

      <ul class="reels">
        <li class="reel"><img src="/images/Vanesa-Alejandra_Paula-Moreno.jpeg" alt=""><h2>Vanesa Gomez</h2></li>
        <li class="reel"><img src="/images/SebastianAlejandro.jpg" alt=""><h2>Sebastian Cafaro</h2></li>
        <li class="reel"><img src="/images/TomasMauri.jpg" alt=""><h2>Tomas Mauri</h2></li>
        <li class="reel"><img src="/images/MariaSerra.jpg" alt=""><h2>Maria Serra</h2></li>
        <li class="reel"><img src="/images/AvatarW1.png" alt=""><h2>Ornella Saponara</h2></li>
        <li class="reel"><img src="/images/nicolas_panigutti.jpg" alt=""><h2>Nicolas Panigutti</h2></li>
        <li class="reel"><img src="/images/HernanBrancaforte.jfif" alt=""><h2>Hernan Brancaforte</h2></li>
        <li class="reel"><img src="/images/JulianAladio.jpeg" alt=""><h2>Julián Mamani Aladio</h2></li>
        <li class="reel"><img src="/images/LudmilaPlana.jpeg" alt=""><h2>Ludmila Plana</h2></li>
        <li class="reel"><img src="/images/Leonardo_cauna_Sebastian_Cortaberria.jfif" alt=""><h2>Sebastian Cortaberria</h2></li>
        <li class="reel"><img src="/images/veronica_alvarez.jpg" alt=""><h2>Veronica Alvarez</h2></li>
        <li class="reel"><img src="/images/EnzoZalazar.jpeg" alt=""><h2>Enzo Zalazar</h2></li>
        <li class="reel"><img src="/images/LucasBonacorsi.jpeg" alt=""><h2>Lucas Bonacorsi</h2></li>
        <li class="reel"><img src="/images/DiegoAlejandroGomez.jpeg" alt=""><h2>Diego Alejandro Gomez</h2></li>
        <li class="reel"><img src="/images/horaciocasado.jpeg" alt=""><h2>Horacio Casado</h2></li>
        <li class="reel"><img src="/images/maria_florencia_sampietro.jpg" alt=""><h2>Maria Florencia Sampietro</h2></li>


      </ul>
      <ul class="reels">
        <li class="reel"><img src="/images/ClaudiaGabrielaRondan.jpg" alt=""><h2>Claudia Gabriela Rondan</h2></li>
        <li class="reel"><img src="/images/AvatarW2.png" alt=""><h2>Viviana Alvarez</h2></li>
        <li class="reel"><img src="/images/AvatarW1.png" alt=""><h2>María Belén Giannoni</h2></li>
        <li class="reel"><img src="/images/GISELABABBARO.jpeg" alt=""><h2>Gisela Babbaro</h2></li>
        <li class="reel"><img src="/images/Juan_Fratta-Diana_Teixeira.jpg" alt=""><h2>Juan Fratta</h2></li>
        <li class="reel"><img src="/images/ANDREAALEMIZ.jpeg" alt=""><h2>Andrea Alemiz</h2></li>
        <li class="reel"><img src="/images/JavierSantiagoNarvaez.jpeg" alt=""><h2>Javier Santiago Narvaez</h2></li>
        <li class="reel"><img src="/images/MarianaSequeiros.jpg" alt=""><h2>Mariana Sequeiros</h2></li>
        <li class="reel"><img src="/images/FedericoOlivarez.jpeg" alt=""><h2>Federico Olivarez</h2></li>
        <li class="reel"><img src="/images/DiamelaVarela.jpeg" alt=""><h2>Diamela Varela</h2></li>
        <li class="reel"><img src="/images/SofiaCapozzi.jpeg" alt=""><h2>Sofia Capozzi</h2></li>
        <li class="reel"><img src="/images/CristianDellePiane.jpeg" alt=""><h2>Cristian Delle Piane</h2></li>
        <li class="reel"><img src="/images/BraianSueldo.jpeg" alt=""><h2>Braian Sueldo</h2></li>
        <li class="reel"><img src="/images/DanielKerman.jfif" alt=""><h2>Daniel Kerman</h2></li>
        <li class="reel"><img src="/images/Federicogiovini.jpeg" alt=""><h2>Federico Giovini</h2></li>
      
      </ul>

    </div>
  </div>

  <button type="button" class="stop-btn" data-val="0" disabled="true"></button>
  <button type="button" class="stop-btn" data-val="1" disabled="true"></button>
  <button type="button" class="stop-btn" data-val="2" disabled="true"></button>

  <div>
    <button id="start-btn">Comenzar!</button>
  </div>
  <div class="body-cards">
    <div class="card">
      <div class="front">
        <h2>1</h2>
      </div>
      <div class="back">
        <p>¿Cuál es tu motivación principal para ser mentor?</p>
      </div>
    </div>

    <div class="card">
      <div class="front">
        <h2>2</h2>
      </div>
      <div class="back">
        <p>¿Tienes experiencia previa como mentor? Si es así, ¿puedes compartir alguna experiencia exitosa que hayas tenido como mentor?</p>
      </div>
    </div>

    <div class="card">
      <div class="front">
        <h2>3</h2>
      </div>
      <div class="back">
        <p>¿Cuál es tu enfoque para ayudar a los mentees a establecer y alcanzar sus objetivos profesionales? </p>
      </div>
    </div>
  </div>

  <div class="body-cards2">
    <div class="card">
      <div class="front">
        <h2>4</h2>
      </div>
      <div class="back">
        <p>¿Cuál crees que es la cualidad más importante que un mentor debe tener para ser efectivo/a?</p>
      </div>
    </div>

    <div class="card">
      <div class="front">
        <h2>5</h2>
      </div>
      <div class="back">
        <p>¿Qué expectativas tienes de tus mentees? ¿Qué tipo de compromiso o esfuerzo esperas que pongan en la relación de mentoría?</p>
      </div>
    </div>

    <div class="card">
      <div class="front">
        <h2>6</h2>
      </div>
      <div class="back">
        <p> ¿Qué te gustaría lograr a través de la mentoría?</p>
      </div>
    </div>
  </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/main.js"></script>

</html>